<html>
<body style="width : 233px; height:300px;font-family:Scada;">
           <div style="text-align:center;">
             <img src="https://s3.amazonaws.com/bizreport/images/cup.png">
             </div>

            <div style="text-align:center;font-size: 25px;">Peer Comparison</div>
            <div><hr/></div>
            
			<div style="width:233px;margin-bottom:20px;">How do you stack up against other drivers?</div>


			<table width="233px" border="0" cellspacing="0">
            <tr>
                <td width="50%" height="5px" style="border-right:1px solid;">&nbsp;</td>
                <td>
                    <table width="100%" cellspacing="0">
                        <tr>
                            <td width="25%" align="center" style="border-right:1px dotted;">&nbsp;</td>
                            <td width="25%" align="center" style="border-right:1px dotted;">&nbsp;</td>
                            <td width="25%" align="center" style="border-right:1px dotted;">&nbsp;</td>
                            <td width="25%" align="center">&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#EEEDF3" >
                <td width="50%" style="border-right:solid 1px #000000;">Miles Driven</td>
                <td>
                    <table width="100%" cellspacing="0">
                        <tr>
                            <td width="25%" align="center" style="border-right:1px dotted;">                            
                                
                            	&nbsp;
                            </td>
                            <td width="25%" align="center" style="border-right:1px dotted;">
                               
                            	<img src="https://s3.amazonaws.com/bizreport/images/orange-dot.png"/>
                             </td>
                            <td width="25%" align="center" style="border-right:1px dotted;">
                               
                            	&nbsp;                          
                            </td>
                            <td width="25%" align="center">
                            	&nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-right:1px solid  #000000;">Idling</td>
                <td>
                    <table width="100%" cellspacing="0">
                        <tr>
                            <td width="25%" align="center" style="border-right:1px dotted;">                            
                                <img src="https://s3.amazonaws.com/bizreport/images/red-dot.png"/>
                    
                            </td>
                            <td width="25%" align="center" style="border-right:1px dotted;">
                               
                            	&nbsp;
                             </td>
                            <td width="25%" align="center" style="border-right:1px dotted;">
                               
                            	&nbsp;                           
                            </td>
                            <td width="25%" align="center">
                            	&nbsp;
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr bgcolor="#EEEDF3">
                <td style="border-right:1px solid;">Hard Brakes</td>
                <td>
                    <table width="100%" cellspacing="0">
                        <tr>
                            <td width="25%" align="center" style="border-right:1px dotted;">                            
                            	&nbsp;
                            </td>
                            <td width="25%" align="center" style="border-right:1px dotted;">
                                <img src="https://s3.amazonaws.com/bizreport/images/orange-dot.png"/>
                             </td>
                            <td width="25%" align="center" style="border-right:1px dotted;">
                            	&nbsp;                            
                            </td>
                            <td width="25%" align="center">
                            	&nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-right:1px solid;">Rapid Accels</td>
                <td>
                   <table width="100%" cellspacing="0">
                        <tr>
                            
                            <td width="25%" align="center" style="border-right:1px dotted;">                            
                            	&nbsp;
                            </td>
                            <td width="25%" align="center" style="border-right:1px dotted;">
                               
                            	&nbsp;
                             </td>
                            <td width="25%" align="center" style="border-right:1px dotted;">
                               
                            	&nbsp;                           
                            </td>
                            <td width="25%" align="center">
                            	
                            	<img src="https://s3.amazonaws.com/bizreport/images/green-dot.png"/>
                            	
                            </td>
                        </tr>
                    </table>
                 </td>
            </tr>
            <tr bgcolor="#EEEDF3">
                <td style="border-right:1px solid;">Speeding</td>
                <td>
                    <table width="100%" cellspacing="0">
                        <tr>
                            <td width="25%" align="center" style="border-right:1px dotted;">                            
                                
                            	&nbsp;
                            </td>
                            <td width="25%" align="center" style="border-right:1px dotted;">
                               
                            	&nbsp;
                             </td>
                            <td width="25%" align="center" style="border-right:1px dotted;">
                               <img src="https://s3.amazonaws.com/bizreport/images/yellow-dot.png"/>
                            	                       
                            </td>
                            <td width="25%" align="center">
                            	&nbsp;
                               
                            </td>
                        </tr>
                    </table>
               </td>
            </tr>

</table>
</body>
</html>