<html>
<body style="width:233px;height:300px;font-family:Scada;">
            <div style="text-align:center;">
             <img src="https://s3.amazonaws.com/bizreport/images/bar.png">
             </div>

            <div style="text-align:center;font-size: 25px;">Score Trends</div>
                        <div><hr/></div>
            
            <div style="width:233px;margin-bottom:20px;">
            	Compared to the past months, you are trending up.
            </div>
            
<table width="233px" border="0">
<tr>
    <td colspan="3">
        <table width="100%" cellspacing="0">
            <tr>
                <td bgcolor="#EEEDF3"  width="40%" style="border-right:1px solid;">This week</td>
                <td>
                    <table width="45" bgcolor="#01B99F"><tr><td>&nbsp;</td></tr></table>
                </td>
            </tr>
           
            <tr>
                <td style="border-right:1px solid;">04/01-04/08</td>
                <td>
                    <table width="34" bgcolor="#01B99F"><tr><td>&nbsp;</td></tr></table>
                </td>
            </tr>
            
            <tr>
                <td bgcolor="#EEEDF3"  style="border-right:1px solid;">03/23-03/23</td>
                <td>
                    <table width="57" bgcolor="#01B99F"><tr><td>&nbsp;</td></tr></table>
                </td>
            </tr>
            <tr>
                <td style="border-right:1px solid;">03/23-03/23</td>
                <td>
                    <table width="86" bgcolor="#01B99F"><tr><td>&nbsp;</td></tr></table>
                </td>
            </tr>
            <tr>
                <td bgcolor="#EEEDF3"  style="border-right:1px solid;">03/23-03/23</td>
                <td>
                    <table width="56" bgcolor="#01B99F"><tr><td>&nbsp;</td></tr></table>
                </td>
            </tr>
            <tr>
                <td style="border-right:1px solid;"></td>
                <td>
                    <table width="67" bgcolor="#01B99F"><tr><td>&nbsp;</td></tr></table>
                </td>
            </tr>

            <tr>
                <td bgcolor="#EEEDF3"  style="border-right:1px solid;">03/23-03/23</td>
                <td style="border-bottom:1px solid;">
                    <table width="65" bgcolor="#01B99F"><tr><td>&nbsp;</td></tr></table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td align="right" width="40%">0</td>
    <td align="right" width="30%">50</td>
    <td align="right" width="30%">100</td>
</tr>
</table>
</body>
</html>